body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, Arial, sans-serif;
    /*overflow: hidden;*/
}
a {text-decoration: none;}
a:link {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
a:visited {text-decoration: none;}

.top-wrap {
    height: 80px;
    line-height: 80px;
    padding-left: 20px;
    background-color: #2e6da4;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 800;
}

div.zTreeDemoBackground {width:250px;height:100%;text-align:left;position: fixed;}
ul.ztree {margin-top: 10px;border: 1px solid #dcdcdc;background: rgb(243, 243, 243);width:220px;height:100%;overflow-y:auto;overflow-x:auto;}
ul.nav {margin-top: 10px;}

.search-wrap {
    height: 50px;
    padding-top: 10px;
    width: 100%;
    margin-top: 10px;
}

.form-group-wrap {
    padding-left: 10px;
}

.table-wrap {
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
}

.state-complete {
    width: 16px;
    height: 16px;
    background-color: #4cae4c;
    border: 1px solid #4cae4c;
    border-radius: 8px;
}
.state-in {
    width: 16px;
    height: 16px;
    background-color: #ffff00;
    border: 1px solid #ffff00;
    border-radius: 8px;
}
.state-uncomplete {
    width: 16px;
    height: 16px;
    background-color: red;
    border: 1px solid red;
    border-radius: 8px;
}

.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-bottom-width: 1px;
    text-align: center;
    background-color: #337ab7;
    color: #ffffff;
}
.table-bordered>tbody>tr:nth-child(2n) {background-color: rgba(238, 238, 238, 0.7);}

td{text-align:center;vertical-align:middle}
td div{margin:auto;}

.process-row-wrap {height: 30px; line-height: 30px; margin-top: 10px;padding-right:20px;}
.process-msg {float: left;  padding-right: 10px;padding-left: 20px;  }

.control-wrap {float: right;}

.process-img-wrap {text-align: center;}