<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>请假管理</title>
</head>
<body>
	<table width="100%" border="0" align="center" cellpadding="0"
		cellspacing="0">
		<tr>
			<td height="30"><table width="100%" border="0" cellspacing="0"
					cellpadding="0">
					<tr>
						<td height="24" bgcolor="#353c44"><table width="100%"
								border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td><table width="100%" border="0" cellspacing="0"
											cellpadding="0">
											<tr>
												<td width="6%" height="19" valign="bottom"><div
														align="center">
														<img src="/images/tb.gif" width="14" height="14" />
													</div></td>
												<td width="94%" valign="bottom"><span class="STYLE1">请假申请列表列表</span></td>
											</tr>
										</table></td>
									<td><div align="right">
											<span class="STYLE1"> </span>
										</div></td>
								</tr>
							</table></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td height="20" bgcolor="#FFFFFF" class="STYLE10" colspan="8"><div
					align="left">
					<a href="/deviceExceptionController/input">添加</a>
				</div></td>
		</tr>
		<tr>
			<td><table width="100%" border="0" cellpadding="0"
					cellspacing="1" bgcolor="#a8c7ce" onmouseover="changeto()"
					onmouseout="changeback()">
					<tr>
						<td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div
								align="center">
								<span class="STYLE10">ID</span>
							</div></td>
						<td width="10%" height="20" bgcolor="d3eaef" class="STYLE6"><div
								align="center">
								<span class="STYLE10">设备名称</span>
							</div></td>
						<td width="5%" height="20" bgcolor="d3eaef" class="STYLE6"><div
								align="center">
								<span class="STYLE10">缺陷等级</span>
							</div></td>
						<td width="15%" height="20" bgcolor="d3eaef" class="STYLE6"><div
								align="center">
								<span class="STYLE10">缺陷记录</span>
							</div></td>
						<td width="20%" height="20" bgcolor="d3eaef" class="STYLE6"><div
								align="center">
								<span class="STYLE10">备注</span>
							</div></td>
						<td width="25%" height="20" bgcolor="d3eaef" class="STYLE6"><div
								align="center">
								<span class="STYLE10">操作</span>
							</div></td>
					</tr>
					<th:block th:if="${not #lists.isEmpty(list)}">
						<tr th:each="deviceException:${list}">
						<td height="20" bgcolor="#FFFFFF" class="STYLE6"><div
									align="center" th:text="${deviceException.id }"></div></td>
							<td height="20" bgcolor="#FFFFFF" class="STYLE6"><div
									align="center" th:text="${deviceException.dname }"></div></td>
							<td height="20" bgcolor="#FFFFFF" class="STYLE19"><div
									align="center" th:text="${deviceException.leav }"></div></td>
							<td height="20" bgcolor="#FFFFFF" class="STYLE19"><div
									align="center" th:text="${deviceException.dcontent }"></div></td>
							<td height="20" bgcolor="#FFFFFF" class="STYLE19"><div
									align="center" th:text="${deviceException.remark }"></div></td>
							<td height="20" bgcolor="#FFFFFF"><div align="center"
									class="STYLE21">
									 <a
										th:href="'/leaveBillController/input?id='+${deviceException.id }">修改</a>
										<a
										th:href="'/leaveBillController/delete?id='+${deviceException.id }">删除</a>
										<a th:href="'/deviceExceptionController/start/'+${deviceException.id }">申请</a>
									 <a
										th:href="'/workflowController/viewHisComment?id='+${deviceException.id }">查看审核记录</a>
								</div></td>
						</tr>
					</th:block>
				</table></td>
		</tr>
	</table>
</body>
</html>