<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>请假管理</title>
</head>
<body>
	<form action="/deviceExceptionController/save" method="POST">
		<table width="100%" border="0" align="center" cellpadding="0"
			cellspacing="0">
			<tr>
				<td height="30"><table width="100%" border="0" cellspacing="0"
						cellpadding="0">
						<tr>
							<td height="24" bgcolor="#353c44"><table width="100%"
									border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td><table width="100%" border="0" cellspacing="0"
												cellpadding="0">
												<tr>
													<td width="6%" height="19" valign="bottom"><div
															align="center">
															<img src="/images/tb.gif" width="14" height="14" />
														</div></td>
													<td width="94%" valign="bottom"><span class="STYLE1">
															新增/修改请假申请 </span></td>
												</tr>
											</table></td>
										<td><div align="right">
												<span class="STYLE1"> </span>
											</div></td>
									</tr>
								</table></td>
						</tr>
					</table></td>
			</tr>
			<tr>
				<td>
					<div align="left" class="STYLE21">
						<input th:if="${dException}!=null" type="hidden" name="id"
							th:value="${dException.id}" /> 
							设备名称:<input type="text" name="dname" th:value="${dException}!=null?${dException.dname}:''"
							cssStyle="width: 200px;" /><br /> 缺陷记录:<input type="text"
							name="dcontent" th:value="${dException}!=null?${dException.dcontent}:''"
							cssStyle="width: 800px;" /><br /> 备&emsp;&emsp;注:
						<textarea name="remark" th:text="${dException}!=null?${dException.remark}:''"
							cols="50" rows="5"></textarea>
						<br /> 
						<a th:href="'/deviceExceptionController/submitTask?taskId='+${taskId}+'&amp;result=yes'">通过</a>
						<a th:href="'/deviceExceptionController/submitTask?taskId='+${taskId}+'&amp;result=no'">不通过</a>
						<a th:href="'/deviceExceptionController/submitTask?taskId='+${taskId}+'&amp;result=defult'">默认</a>
					</div>
				</td>
			</tr> 
		</table>
	</form>
	<form action="/deviceExceptionController/claim">
		<input type="hidden" name="taskId" th:value="${taskId}"/>
		委托人：<input type="text" name="userId"/>
		<button type="submit">委托</button>
	</form>
</body>
</html>