body,html{
    margin: 0;
    padding: 0;
}
header{
    height: 90px;
    background: #20a0ff;
}



/*表格布局*/
.content-wrapper{

}
.relative{
    position: relative;
}
.tree-wrapper{
    position: fixed;
    top:90px;
    left: 0;
    bottom: 0;
    border: 1px solid #DFE6EC;
    border-radius: 5px;
    width: 160px;
    padding: 0 20px;
    overflow: auto;
}

.flex{
    display: flex;
}
.flex-1{
    flex: 1;
}
.right-wrapper{
    margin-left: 202px;
    overflow: auto;
}
.iframe-box{
    height: 600px;
    border: 1px solid #ccc;
}
.iframe-box iframe{
    height: 100%;
    width: 100%;
    border: none;
}
.tabs-box{
    position: relative;
    min-height: 300px;
}

.el-tree{
    border:none;
}
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content .el-tree-node__label{
    color: #20a0ff;
}
.el-date-editor--daterange.el-input{
    width: 193px;
}
.el-tabs__content{
    padding: 20px 50px;
}

/*tabs布局*/
.tabs-box-left{
    margin-right: 400px;
}
.tabs-box-right{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    width: 399px;
    border-left: 1px solid #D1DBE5;
    border-right: 1px solid #D1DBE5;
}
.tabs-box-right-head{
    height: 41px;
    border-bottom:1px solid #D1DBE5;
    line-height: 41px;
    text-align: center;
    color: #333;
}
.tabs-box-left .btn-box{
    display: block;
    margin-top: 20px;
    margin-left: 777px;

}
.basc-info{
    margin-top: 20px;
    width: 100%;
    border: none;
}
.basc-info td{
    line-height: 36px;
    color: #48576A;
    font-size: 14px;
    padding:0 10px;
}
.basc-info tr td:nth-child(odd){
    text-align: right;
}