<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="/process/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/process/css/zTreeStyle/zTreeStyle.css" type="text/css"/>
    <link rel="stylesheet" href="/process/css/style.css"/>
</head>
<body>
    <div class="container-fluid">
        <div class="row top-wrap">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                业务流程管理平台
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                <div class="zTreeDemoBackground left">
                    <ul id="treeDemo" class="ztree"></ul>
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                <div class="search-wrap">
                    <form class="form-inline">
                        <div class="form-group form-group-wrap">
                            <label class="label-text" for="startDate">开始时间</label>
                            <input type="date" class="form-control" id="startDate"/>
                        </div>
                        <div class="form-group form-group-wrap">
                            <label class="label-text" for="endDate">结束时间</label>
                            <input type="date" class="form-control" id="endDate"/>
                        </div>
                        <button type="submit" class="btn btn-primary">查询</button>
                    </form>
                </div>
                <div class="table-wrap">
                    <table class="table table-bordered">
                        <thead>
                            <th>序号</th><th>流程实例</th><th>开始时间</th><th>完成时间</th><th>当前环节</th><th>当前办理人</th><th>流程状态</th><th>督办情况</th><th>运行明细</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td><td>55021</td><td>2017-05-09 16:12:32</td><td>2017-05-09 16:12:32</td><td>设备异常及缺陷填报</td><td>kermit</td><td>已完成</td><td><div class="state-complete"></div></td><td><a href="process-detail.html">查看</a></td>
                            </tr>
                            <tr>
                                <td>2</td><td>55021</td><td>2017-05-09 16:12:32</td><td>2017-05-09 16:12:32</td><td>确认缺陷等级</td><td>kermit</td><td>进行中</td><td><div class="state-in"></div></td><td><a href="process-detail.html">查看</a></td>
                            </tr>
                            <tr>
                                <td>3</td><td>55034</td><td>2017-05-09 16:12:32</td><td>2017-05-09 16:12:32</td><td>缺陷通报</td><td>kermit</td><td>未完成</td><td><div class="state-uncomplete"></div></td><td><a href="process-detail.html">查看</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/process/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/process/js/ztree/jquery.ztree.core.min.js"></script>
<script type="text/javascript" src="/process/js/html5.js"></script>
<script type="text/javascript" src="/process/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/process/js/mutiselect/bootstrap-select.js"></script>
<script type="text/javascript" src="/process/js/srollbar/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="/process/js/srollbar/jquery.mCustomScrollbar.concat.min.js"></script>

<script type="text/javascript">


    $(function () {
        var setting = {};

        var zNodes = [
            {
                name: "父节点1 - 展开", open: true,
                children: [
                    {
                        name: "父节点11 - 折叠",
                        children: [
                            {name: "叶子节点111"},
                            {name: "叶子节点112"},
                            {name: "叶子节点113"},
                            {name: "叶子节点114"}
                        ]
                    },
                    {
                        name: "父节点12 - 折叠",
                        children: [
                            {name: "叶子节点121"},
                            {name: "叶子节点122"},
                            {name: "叶子节点123"},
                            {name: "叶子节点124"}
                        ]
                    },
                    {name: "父节点13 - 没有子节点", isParent: true}
                ]
            },
            {
                name: "父节点2 - 折叠",
                children: [
                    {
                        name: "父节点21 - 展开", open: true,
                        children: [
                            {name: "叶子节点211"},
                            {name: "叶子节点212"},
                            {name: "叶子节点213"},
                            {name: "叶子节点214"}
                        ]
                    },
                    {
                        name: "父节点22 - 折叠",
                        children: [
                            {name: "叶子节点221"},
                            {name: "叶子节点222"},
                            {name: "叶子节点223"},
                            {name: "叶子节点224"}
                        ]
                    },
                    {
                        name: "父节点23 - 折叠",
                        children: [
                            {name: "叶子节点231"},
                            {name: "叶子节点232"},
                            {name: "叶子节点233"},
                            {name: "叶子节点234"}
                        ]
                    }
                ]
            },
            {name: "父节点3 - 没有子节点", isParent: true}

        ];
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
    })
</script>
</html>