<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>流程管理平台</title>
    <link rel="stylesheet" href="/process/css/bootstrap.min.css">
    <link rel="stylesheet" href="/process/css/style.css">
</head>
<body>
<div class="container-fluid">
    <div class="row top-wrap">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            业务流程管理平台
        </div>
    </div>
    <div class="row process-row-wrap">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="process-msg">
                <span>流程名称:</span><span>*******************</span>
            </div>
            <div class="process-msg">
                <span>流程实例:</span><span>*******************</span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="control-wrap">
                <button class="btn btn-default" name="backBtn" onclick="javascript:history.back();">返回</button>
            </div>
        </div>
    </div>
    <div class="table-wrap">
        <table class="table table-bordered">
            <thead>
            <th>序号</th><th>任务名称(节点)</th><th>开始时间</th><th>完成时间</th><th>办理人</th><th>是否超时</th><th>流程状态</th><th>督办情况</th>
            </thead>
            <tbody>
            <tr>
                <td>1</td><td>名称1</td><td>2017/03/25</td><td>2017/03/27</td><td>办理人</td><td>未超时</td><td>已完成</td><td><div class="state-complete"></div></td>
            </tr>
            <tr>
                <td>1</td><td>名称1</td><td>2017/03/25</td><td>2017/03/27</td><td>办理人</td><td>未超时</td><td>进行中</td><td><div class="state-in"></div></td>
            </tr>
            <tr>
                <td>1</td><td>名称1</td><td>2017/03/25</td><td>2017/03/27</td><td>办理人</td><td>超时</td><td>未完成</td><td><div class="state-uncomplete"></div></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script type="text/javascript" src="/process/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/process/js/html5.js"></script>
<script type="text/javascript" src="/process/js/bootstrap.min.js"></script>
</html>