<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>查看当前流程图</title>
</head>
<body>
	<!-- 1.获取到规则流程图 -->
	<!-- <img style="position: absolute; top: 0px; left: 0px;"
		th:src="'/workflowController/viewImage?deploymentId='+${deploymentId}+'&amp;imageName='+${imageName}" /> -->
	<iframe id="iframe" th:src="'/bpmn-js/index-async.html?deploymentId='+${deploymentId}" 
	width="100%" height="100%" scrolling="No">
	</iframe>
	<input type="hidden" id="taskName" name="taskName" th:value="${taskName}" />
	<!-- 2.根据当前活动的坐标，动态绘制DIV -->
	<!-- <div
		th:style="'position: absolute;border:3px solid red;top:'+${acs.y}+'px;left:'+${acs.x}+'px;width:'+${acs.width}+'px;height:'+${acs.height}+'px;' ">
	</div> -->
	
	<script type="text/javascript">
		window.onload=function()
	  		{
				var taskName=document.getElementById('taskName').value;
				var iframe = document.getElementById('iframe');
				var iframeWindow = iframe.contentWindow;
				var element = iframeWindow.document.getElementById("usertask4");
				//element.setAttribute("stroke","red");
				//$c('#usertask4').attr("stroke","red");
				alert(iframeWindow);
			};
	</script>
</body>
</html>